html{
    background-color: cyan;
}


#container {
    height: 500px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
    justify-content: center;
}

#buttons {
    
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.bar {
    width: 5px;
    background-color: black;
}